H1 {
    color: rgb(130, 71, 116);
    font-size: 26px;
    text-align: center;
}

.class-example1 {
    font-size: 30px;
    color: hotpink;
}


h2 {
    color:rgb(125, 78, 114);
    font-size: 24px;
}
h3 {
    font-size: 20px;
    color:rgb(130, 71, 116);
    }

   .class-example {
    font-size: 22px;
    color: rgb(77, 13, 45);
   }

